body {
    font-family: "Nunito";
    height: 100vh;
    margin: 0; 
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/library.jpg") no-repeat center center/cover;
}

h1 {
    margin: 0;
}

.fa-language {
    font-size: 3em;
}

.fa-bars {
    font-size: 1.8em;
}

.header {
    background-color: #8b4a18;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.fas-solid .fa-language {
    font-size: 3em;
    margin-top: 20px;
    margin-left: 20px;
}

.menu {
    width: 20px;
    height: 3px;
    background-color: white;
}

.profile {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
}

.quiz-container {
    background-color: white;
    margin: 40px auto;
    height: 77vh;
    width: 70%;
    max-width: 700px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.progress-bar {
    position: relative;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: visible;
    margin-bottom: 20px;
    margin-top: 20px;
}

.progress {
    background-color: #8b4a18;
    width: 80%; 
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.progress-text {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-size: 14px;
    color: #8b4a18;
}

.question {
    text-align: center;
    color: #8b4a18;
    margin-bottom: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.option {
    background-color: #EFEFEF;
    width: 80%;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    color: #8b4a18;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.option:hover {
    background-color: #f0e1d1;
}

@media (max-width: 690px) {
    .fa-language {
        font-size: 2em;
    }

    .fa-bars {
        font-size: 1.4em;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
        padding: 0px 30px;
    }
}