$myPrimary: #833C07;
$mySecondary: #727272;

/////////////////////////////////
/// Colores y Fuentes
/////////////////////////////////

$primary: $myPrimary;
$secondary: $mySecondary;
$font-family-sans-serif: "Nunito";

/////////////////////////////////
/// Estilos Botones
/////////////////////////////////

$btn-border-width: 3px;

/////////////////////////////////
/// Estilos Inputs
/////////////////////////////////

$input-border-width: 2px;
$input-border-radius: 0px;
$input-focus-box-shadow: none;

/////////////////////////////////
/// Estilos Acordeon
/////////////////////////////////

$accordion-border-color: #cfcfcf;
$accordion-button-active-color: $myPrimary;
$accordion-icon-active-color: $myPrimary;
$accordion-button-color: $myPrimary;
$accordion-icon-color: $myPrimary;
$accordion-button-focus-box-shadow: none;

/////////////////////////////////
/// Estilos Progress
/////////////////////////////////

$progress-bar-bg: #a75d26;

/////////////////////////////////
/// Estilos Select
/////////////////////////////////

$form-select-border-radius: 10px;
$form-select-color: $myPrimary;
$form-select-focus-box-shadow: none;

@import "../libs/bootstrap/scss/bootstrap";

.form-control {
    border: none;
    border-bottom: 2px solid $myPrimary;
    border-radius: 0;
    box-shadow: none;
}

.btn-outline-light {
    --bs-btn-hover-color: #833C07;
}